.cipher-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 500px;
    margin-top: 20px;
}

.secret-button {
    position: absolute;
    background: transparent;
    border: none;
    color: transparent;
    cursor: pointer;
    top: 0;
    right: 0;
}

.correct-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.meme-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}